.catalog {
  background-color: #f8f8f8;
  margin: 0;
  padding: 30px 20px;
}

.catalog-filter {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.catalog-list {
  background-color: #f8f8f8;

  @media (min-width: @desktop-width) {
    min-width: 900px;
  }
}

.object-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.object-catalog {
  background-color: #ffffff;
  min-width: 280px;
  min-height: 420px;
  padding: 40px 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 40px 10px 10px;
    margin: 10px;
    max-width: 340px;
  }

  @media (min-width: @desktop-width) {
    max-width: 280px;
  }
}

.catalog-list__about {
  margin: 0;
  padding: 0 20px;
}

.catalog-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.catalog-list__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.catalog-list__buy {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0 20px;
}

.catalog-list__basket {
  min-width: 141px;
  height: 36px;
  color: #ffffff;
  background-color: #7859cf;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding: 0;
  padding-left: 50px;
  margin-top: 15px;
}

.catalog-list__basket:hover,
.button--accept:hover {
  background-color: #9070ec;
}

.catalog-list__basket:active,
.button--accept:active {
  background-color: #593cac;
}

.catalog-list__icon {
  margin: 0;
  min-width: 20px;
  height: 16px;
  position: relative;
  top: 25px;
  left: -170px;
}

.catalog-list__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}

.object-catalog img {
  object-fit: contain;
  height: 100%;
  margin: 0 auto;
  min-width: 130px;
  display: block;
}
