.coffee-photo {
  display: flex;
  flex-direction: column;
}

.coffee-photo__wrapper {
  display: block;
  margin: 0;
  padding: 0 15px;

  @media (min-width: @tablet-width) {
    padding: 0 80px;
  }
}

.coffee-photo__badge {
  color: #7859cf;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 50px;
  }
}

.coffee-photo__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 10px 0;

  @media (min-width: @tablet-width) {
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
  }
}

.coffee-photo__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 10px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 40px 25px;

    span::after {
      content: "\A";
      white-space: normal;
    }
  }
}

.coffee-photo__arrow {
  width: 20px;
  height: 20px;
  text-decoration: none;
}

/*вариант больших top left плохой, но лучше пока не придумала*/
.coffee-photo__arrow--back {
  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    top: 290px;
  }
}

.coffee-photo__arrow--along {
  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    top: 270px;
    left: 590px;
  }
}
