.form-for-choose {
  border: none;
  margin: 0;
}

.form-button {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 20px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  min-width: 280px;
  min-height: 40px;
  border-radius: 4px;
  border: none;

  &--accept {
    color: #ffffff;
    background-color: #7859cf;
  }

  &--reset {
    background-color: #ffffff;
    color: #7859cf;
  }
}
