.page__body {
    max-width: 1200px;
    height: 100%;
    color: #000000;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    margin: 0 auto;
    background-color: #ffffff;
  
    @media (min-width: @desktop-width) {
      background-color: #ffffff;
  }
}